mixin sDemo(data)
	// start sDemo
	+b.SECTION.sDemo.section.bg-wrap&attributes(attributes)
		//- +pic("corp-bg.jpg",'bg').picture-bg(class="wow  animate__fadeIn " data-wow-delay=del)
		.el-img.el-img--2(class="wow  animate__fadeInRight " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-5.svg", alt="")
		//- .el-img.el-img--3(class="wow  animate__fadeInLeft " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-3.svg", alt="")
		//- .el-img.el-img--4(class="wow  animate__fadeInDown" data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-4.svg", alt="")
		.el-img.el-img--5(class="wow  animate__fadeInDown " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-2.svg", alt="")
		//- .el-img.el-img--6(class="wow  animate__fadeInRight " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-6.svg", alt="")
		.el-img.el-img--7(class="wow  animate__fadeIn " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-7.svg", alt="")
		.el-img.el-img--8(class="wow  animate__fadeIn " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-8.svg", alt="")
		//- .el-img.el-img--9(class="wow  animate__fadeIn " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-9.svg", alt="")
		//- .el-img.el-img--10(class="wow  animate__fadeInRight" data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-10.svg", alt="")
		//- .el-img.el-img--11(class="wow  animate__fadeInUp " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-7.svg", alt="")
		//- .el-img.el-img--12(class="wow  animate__fadeInUp " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-5.svg", alt="")
		.el-img.el-img--13(class="wow  animate__fadeInUp " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-5.svg", alt="")
		//- .el-img.el-img--14(class="wow  animate__fadeInUp " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-11.svg", alt="")
		.el-img.el-img--15(class="wow  animate__fadeInDown " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-12.svg", alt="")
		+b.section-inner
			.container 
				.row(class="wow  animate__fadeIn " )
					.sp-block.section-inner__col.col-lg-6
						.sub-title посмотрите изнутри
						h2 бесплатная <br> демонстрация
						+b.video-block.d-block.d-md-none.d-lg-block
							+pic('video.png').video-bg
							+pic('mac.png','',0).mac-block
						p Наши специалисты проведут для вас бесплатную демонстрацию любой версии в&nbsp;онлайн режиме или приедет к&nbsp;вам в&nbsp;офис в&nbsp;удобное для вас время.
						.row.align-items-center.justify-content-lg-start.justify-content-center
							.col-auto
								a.btn.btn-y.link-modal(href="#modal-call" data-title="бесплатная демонстрация" data-text="Заполните форму, и мы свяжемся с Вами сразу же, как только получим заявку.") бесплатная демонстрация
	// end sDemo