mixin sGift(data)
	// start sGift
	+b.SECTION.sGift--1.section.bg-wrap&attributes(attributes) 
		.el-img.el-img--2(class="wow  animate__fadeInRight " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-2.svg", alt="")
		//- .el-img.el-img--3(class="wow  animate__fadeInLeft " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-3.svg", alt="")
		//- .el-img.el-img--4(class="wow  animate__fadeInDown" data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-4.svg", alt="")
		.el-img.el-img--5(class="wow  animate__fadeInDown " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-5.svg", alt="")
		//- .el-img.el-img--6(class="wow  animate__fadeInRight " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-6.svg", alt="")
		.el-img.el-img--7(class="wow  animate__fadeIn " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-7.svg", alt="")
		//- .el-img.el-img--8(class="wow  animate__fadeIn " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-8.svg", alt="")
		//- .el-img.el-img--9(class="wow  animate__fadeIn " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-9.svg", alt="")
		//- .el-img.el-img--10(class="wow  animate__fadeInRight" data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-10.svg", alt="")
		//- .el-img.el-img--11(class="wow  animate__fadeInUp " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-7.svg", alt="")
		//- .el-img.el-img--12(class="wow  animate__fadeInUp " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-5.svg", alt="")
		.el-img.el-img--13(class="wow  animate__fadeInUp " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-5.svg", alt="")
		//- .el-img.el-img--14(class="wow  animate__fadeInUp " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-11.svg", alt="")
		.el-img.el-img--15(class="wow  animate__fadeInDown " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-12.svg", alt="")
		.section-inner.sp-block
			.container(class="wow  animate__fadeIn " )
				+pic("box-1.png").box.box--left.d-none.d-lg-block(class="wow  animate__fadeInLeft" data-wow-delay=".6s")
				+pic("box-2.png").box.box--right.d-none.d-lg-block(class="wow  animate__fadeInRight" data-wow-delay=".6s")
				.sub-title при покупке проф и корп версий
				h2 дарим бесплатные 3&nbsp;часа работы специалиста
				p На что их можно потратить?
				ul
					li Обучение сотрудников программе 1С&nbsp;Бухгалтерия&nbsp;8
					li Выбрать любую услугу DATEX в&nbsp;рамках бесплатных часов
				a.btn.btn-y.link-modal(href="#modal-call" data-title="получить бесплатные 3 часа работы специалиста" data-text="Заполните форму, и мы свяжемся с Вами сразу же, как только получим заявку.") оставить заявку
	// end sGift
mixin sGift2(data)
	// start sGift
	+b.SECTION.sGift--2.section.bg-wrap&attributes(attributes) 
		.el-img.el-img--2(class="wow  animate__fadeInRight " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-2.svg", alt="")
		//- .el-img.el-img--3(class="wow  animate__fadeInLeft " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-3.svg", alt="")
		//- .el-img.el-img--4(class="wow  animate__fadeInDown" data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-4.svg", alt="")
		.el-img.el-img--5(class="wow  animate__fadeInDown " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-5.svg", alt="")
		//- .el-img.el-img--6(class="wow  animate__fadeInRight " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-6.svg", alt="")
		.el-img.el-img--7(class="wow  animate__fadeIn " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-7.svg", alt="")
		//- .el-img.el-img--8(class="wow  animate__fadeIn " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-8.svg", alt="")
		//- .el-img.el-img--9(class="wow  animate__fadeIn " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-9.svg", alt="")
		//- .el-img.el-img--10(class="wow  animate__fadeInRight" data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-10.svg", alt="")
		//- .el-img.el-img--11(class="wow  animate__fadeInUp " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-7.svg", alt="")
		//- .el-img.el-img--12(class="wow  animate__fadeInUp " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-5.svg", alt="")
		.el-img.el-img--13(class="wow  animate__fadeInUp " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-5.svg", alt="")
		//- .el-img.el-img--14(class="wow  animate__fadeInUp " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-11.svg", alt="")
		.el-img.el-img--15(class="wow  animate__fadeInDown " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-12.svg", alt="")
		.section-inner.sp-block
			.container(class="wow  animate__fadeIn " )
				//- +pic("box-1.png").box.box--left.d-none.d-lg-block
				//- +pic("box-2.png").box.box--right.d-none.d-lg-block
				.sub-title информационно-технологическое сопровождение
				h2 дарим 4&nbsp;месяца бесплатного обслуживания
				p При покупке годового обслуживания 1С: ИТС в&nbsp;компании DATEX 
				.row.align-items-center.justify-content-center
					.col-auto
						+b.price.text-primary.ttu 12 месяцев
					.col-auto
						+b.price--last.ttu 26 400 ₽
					.col-auto
						+b.price--new.ttu 21 840 ₽
				a.btn.btn-y.link-modal(href="#modal-call" data-title="получить 4 месяца бесплатного итс" data-text="Заполните форму, и мы свяжемся с Вами сразу же, как только получим заявку.") оставить заявку
	// end sGift