mixin sBase(data)
	// start sBase
	+b.SECTION.sBase.bg-wrap.section&attributes(attributes)
		- let del = '.9s'
		//- .el-img.el-img--1(class="wow  animate__fadeIn" data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-1.svg", alt="")
		.el-img.el-img--2(class="wow  animate__fadeInRight " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-2.svg", alt="")
		.el-img.el-img--3(class="wow  animate__fadeInLeft " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-3.svg", alt="")
		//- .el-img.el-img--4(class="wow  animate__fadeInDown" data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-4.svg", alt="")
		.el-img.el-img--5(class="wow  animate__fadeInDown " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-5.svg", alt="")
		//- .el-img.el-img--6(class="wow  animate__fadeInRight " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-6.svg", alt="")
		.el-img.el-img--7(class="wow  animate__fadeIn " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-7.svg", alt="")
		//- .el-img.el-img--8(class="wow  animate__fadeIn " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-8.svg", alt="")
		//- .el-img.el-img--9(class="wow  animate__fadeIn " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-9.svg", alt="")
		//- .el-img.el-img--10(class="wow  animate__fadeInRight" data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-10.svg", alt="")
		//- .el-img.el-img--11(class="wow  animate__fadeInUp " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-7.svg", alt="")
		//- .el-img.el-img--12(class="wow  animate__fadeInUp " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-5.svg", alt="")
		//- .el-img.el-img--13(class="wow  animate__fadeInUp " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-5.svg", alt="")
		.el-img.el-img--14(class="wow  animate__fadeInUp " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-11.svg", alt="")
		.el-img.el-img--15(class="wow  animate__fadeInDown " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-12.svg", alt="")
		+pic("base-bg.png",'bg').picture-bg(class="wow  animate__fadeIn " data-wow-delay=del)
		+b.section-inner
			.container(class="wow  animate__fadeIn" data-wow-delay=".6s")
				.row 
					.sp-block.section-inner__col.sp-block.section-inner__col--right.col-lg-6
						.sub-title  базовая версия
						h2 отчеты – <br> это просто
						+pic('base-img.png','','768px').d-block.d-md-none.d-lg-block.pic-abs
						p Программа поможет и&nbsp;подскажет, как правильно вести бухгалтерский и&nbsp;налоговый отчет, а&nbsp;также обязательную отчетность, в&nbsp;соответсвии с&nbsp;законными требованиями. Рекомендуем базовую версию для организаций, в&nbsp;которых с&nbsp;программой работает один бухгалтер, а&nbsp;также для&nbsp;ИП, применяющих общую, упрощенную или патентную систему налогообложения.
						.row.align-items-center.justify-content-lg-start.justify-content-center
							.col-auto
								+b.price--last 5 400 ₽
							.col-auto
								+b.price--new 1 650 ₽
									+e.label(data-text="Условия акции уточняйте у менеджера") ?
						.row.align-items-center.justify-content-lg-start.justify-content-center
							.col-auto
								a.btn.btn-y.link-modal(href="#modal-call" data-title="1с бухгалтерия 8 <span>базовая версия</span>" data-text="Заполните форму, и мы свяжемся с Вами сразу же, как только получим заявку.") купить
							.col-auto
								+btn-compare()
	// end sBase