mixin sApplication(data)
	// start sApplication
	+b.SECTION.sApplication.section.bg-wrap&attributes(attributes)
		.el-img.el-img--1(class="wow  animate__fadeIn" data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-1.svg", alt="")
		.el-img.el-img--2(class="wow  animate__fadeInLeft " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-2.svg", alt="")
		//- .el-img.el-img--3(class="wow  animate__fadeInDown " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-3.svg", alt="")
		//- .el-img.el-img--4(class="wow  animate__fadeInDown" data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-4.svg", alt="")
		.el-img.el-img--5(class="wow  animate__fadeInRight " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-5.svg", alt="")
		.el-img.el-img--6(class="wow  animate__fadeInRight " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-6.svg", alt="")
		.el-img.el-img--7(class="wow  animate__fadeIn " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-7.svg", alt="")
		//- .el-img.el-img--8(class="wow  animate__fadeIn " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-8.svg", alt="")
		//- .el-img.el-img--9(class="wow  animate__fadeIn " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-9.svg", alt="")
		.el-img.el-img--10(class="wow  animate__fadeInRight" data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-10.svg", alt="")
		.el-img.el-img--11(class="wow  animate__fadeInUp " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-7.svg", alt="")
		.el-img.el-img--12(class="wow  animate__fadeInUp " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-5.svg", alt="")
		.el-img.el-img--13(class="wow  animate__fadeInUp " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-5.svg", alt="")
		.circle.circle--left(class="wow  animate__fadeInUp " data-wow-delay=".8s")
		.circle.circle--right(class="wow  animate__fadeInUp " data-wow-delay=".8s")
		+b.section-inner
			.container 
				.row 
					.sp-block.section-inner__col.col-xlg-6
						.sub-title(class="wow  animate__fadeIn " data-wow-delay='.1s') свяжитесь с нами
						h2(class="wow  animate__fadeIn " data-wow-delay='.2s') оставьте заявку <br> на&nbsp;консультацию
						+pic('phone.png','','768px').d-block.d-md-none.d-xlg-block.pic-abs(class="wow  animate__fadeIn " data-wow-delay='.8s')
						p(class="wow  animate__fadeIn " data-wow-delay='.3s') Наш специалист свяжется с&nbsp;вами и&nbsp;предложит лучшее решение для&nbsp;Вас&nbsp;и&nbsp;вашего предприятия
						.row.align-items-center.justify-content-xlg-start.justify-content-center(class="wow  animate__fadeIn " data-wow-delay='.4s')
							.col-auto
								a.btn.btn-y.link-modal(href="#modal-call" data-title="получить консультацию" data-text="Заполните форму, и мы свяжемся с Вами сразу же, как только получим заявку.") оставить заявку
			block
	// end sApplication