mixin sCorp(data)
	// start sCorp
	+b.SECTION.sCorp.section.bg-wrap&attributes(attributes)
		+pic("corp-bg.jpg",'bg').picture-bg(class="wow  animate__fadeIn " data-wow-delay=del)
		.el-img.el-img--2(class="wow  animate__fadeInRight " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-2.svg", alt="")
		//- .el-img.el-img--3(class="wow  animate__fadeInLeft " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-3.svg", alt="")
		//- .el-img.el-img--4(class="wow  animate__fadeInDown" data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-4.svg", alt="")
		//- .el-img.el-img--5(class="wow  animate__fadeInDown " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-5.svg", alt="")
		//- .el-img.el-img--6(class="wow  animate__fadeInRight " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-6.svg", alt="")
		.el-img.el-img--7(class="wow  animate__fadeIn " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-7.svg", alt="")
		.el-img.el-img--71(class="wow  animate__fadeIn " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-7.svg", alt="")
		.el-img.el-img--8(class="wow  animate__fadeIn " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-8.svg", alt="")
		//- .el-img.el-img--9(class="wow  animate__fadeIn " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-9.svg", alt="")
		//- .el-img.el-img--10(class="wow  animate__fadeInRight" data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-10.svg", alt="")
		//- .el-img.el-img--11(class="wow  animate__fadeInUp " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-7.svg", alt="")
		//- .el-img.el-img--12(class="wow  animate__fadeInUp " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-5.svg", alt="")
		.el-img.el-img--13(class="wow  animate__fadeInUp " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-5.svg", alt="")
		//- .el-img.el-img--14(class="wow  animate__fadeInUp " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-11.svg", alt="")
		.el-img.el-img--15(class="wow  animate__fadeInDown " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-12.svg", alt="")
		//- .circle.circle--left(class="wow  animate__fadeInUp " data-wow-delay=".8s")
		//- .circle.circle--right(class="wow  animate__fadeInUp " data-wow-delay=".8s")
		+b.section-inner
			.container 
				.row(class="wow  animate__fadeIn " data-wow-delay=del)
					.sp-block.section-inner__col.sp-block.section-inner__col--right.col-lg-6
						.sub-title корп версия
						h2 BIG BOSS <br> бухгалтерии
						+pic('corp-img.png','','768px').d-block.d-md-none.d-lg-block.pic-abs
						p Программа обладает широким функционалом, который позволит вести учет доходов и&nbsp;расходов, а&nbsp;также фактической прибыли по&nbsp;каждому обособленному подразделению. Теперь налоговая декларация по&nbsp;налогу на&nbsp;прибыль и&nbsp;отчетность некредитных финансовых организаций заполняется автоматически. Вы&nbsp;сможете вести и&nbsp;консолидировать учет НДС у&nbsp;экспедиторов, а&nbsp;также выполнять расчеты по&nbsp;контрактам для выполнения государственного заказа.
						.row.align-items-center.justify-content-lg-start.justify-content-center
					 
							.col-auto
								+b.price--new 33 600 ₽
						.row.align-items-center.justify-content-lg-start.justify-content-center
							.col-auto
								a.btn.btn-y.link-modal(href="#modal-call" data-title="1с бухгалтерия 8 <span>корп версия</span>" data-text="Заполните форму, и мы свяжемся с Вами сразу же, как только получим заявку.")   купить
							.col-auto
								+btn-compare()
	// end sCorp