mixin sProf(data)
	// start sProf
	+b.SECTION.sProf.section.bg-wrap&attributes(attributes)
		+pic("prof-bg.jpg",'bg').picture-bg(class="wow  animate__fadeIn " data-wow-delay=del)
		.el-img.el-img--2(class="wow  animate__fadeInRight " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-2.svg", alt="")
		.el-img.el-img--3(class="wow  animate__fadeInLeft " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-3.svg", alt="")
		//- .el-img.el-img--4(class="wow  animate__fadeInDown" data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-4.svg", alt="")
		.el-img.el-img--5(class="wow  animate__fadeInDown " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-5.svg", alt="")
		//- .el-img.el-img--6(class="wow  animate__fadeInRight " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-6.svg", alt="")
		.el-img.el-img--7(class="wow  animate__fadeIn " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-7.svg", alt="")
		//- .el-img.el-img--8(class="wow  animate__fadeIn " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-8.svg", alt="")
		//- .el-img.el-img--9(class="wow  animate__fadeIn " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-9.svg", alt="")
		//- .el-img.el-img--10(class="wow  animate__fadeInRight" data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-10.svg", alt="")
		//- .el-img.el-img--11(class="wow  animate__fadeInUp " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-7.svg", alt="")
		//- .el-img.el-img--12(class="wow  animate__fadeInUp " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-5.svg", alt="")
		//- .el-img.el-img--13(class="wow  animate__fadeInUp " data-wow-delay=del)
		//- 	img.img-svg(loading="lazy" src="img/head-el-5.svg", alt="")
		.el-img.el-img--14(class="wow  animate__fadeInUp " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-11.svg", alt="")
		.el-img.el-img--15(class="wow  animate__fadeInDown " data-wow-delay=del)
			img.img-svg(loading="lazy" src="img/head-el-12.svg", alt="")
		.circle.circle--left(class="wow  animate__fadeInUp " data-wow-delay=".8s")
		.circle.circle--right(class="wow  animate__fadeInUp " data-wow-delay=".8s")
		+b.section-inner
			.container(class="wow  animate__fadeIn " data-wow-delay=del) 
				.row 
					.sp-block.section-inner__col.section-inner__col--right.col-lg-6
						.sub-title проф версия
						h2 Больше возможностей
						+pic('prof-img.png','','768px').d-block.d-md-none.d-lg-block.pic-abs
						p Измененяйте программу под потребности вашей фирмы, и&nbsp;ведите учет сразу по&nbsp;нескольким организациям и&nbsp;ИП. Программа позволит поддержку и&nbsp;использование с&nbsp;другими конфигурациями, например: 1С&nbsp;Управление торговлей 8, 1С&nbsp;Зарплата и&nbsp;управление персоналом&nbsp;8.
						.row.align-items-center.justify-content-lg-start.justify-content-center
					 
							.col-auto
								+b.price--new 13 000 ₽
						.row.align-items-center.justify-content-lg-start.justify-content-center
							.col-auto
								a.btn.btn-y.link-modal(href="#modal-call" data-title="1с бухгалтерия 8 <span>проф версия</span>" data-text="Заполните форму, и мы свяжемся с Вами сразу же, как только получим заявку.")  купить
							.col-auto
								+btn-compare()
	// end sProf